<html>
<head>	
<title>View Book</title>
</head>
<body>
<p><b>Name:</b><%=@ad.name%></p>
<p><b>Description:</b><%=@ad.description%></p>
<p><b>Price:</b><%=@ad.price%></p>

<p><b>Seller:</b><%=@ad.seller_id%></p>
<p><b>Email:</b><$=@ad.email%></p>
</body>
</html>
